<h4 class="regular">About BuckeyeSavers.com</h4>

<div id="details_container">
    <div id="text_container">
      <div id="text_container_top">
        <div id="text_container_inner">
        <p>BuckeyeSavers.com is the easiest and most convenient place to find coupons for your favorite local businesses.</p>

                <p>When you go to BuckeyeSavers.com you’ll find…</p>
                
                <ul>
                  <li>Coupons from your favorite local businesses for the goods and services you use every day.</li>
                  <li>Gift certificates for local restaurants, businesses and attractions at up to half off the retail value.</li>
                </ul>

                <p>BuckeyeSavers.com = Local coupons from Local businesses for Local people.</p>



                <p>Business Owners <%= link_to "click here", business_owners_path %> to learn about adding your business to BuckeyeSavers.com</p>
                <div class="clear_fix">&nbsp;</div>   
        </div>
        
      </div>
    </div>
    <div class="clear_fix">&nbsp;</div>    
  
</div>