<div style="float: right; width: 40%; margin-left: 2em;">
<p>
	If you prefer to contact us in a more traditional manner, please feel free to do so.  
	Here is our contact information.
</p>

<p>
	<strong>By phone</strong><br/>
			814-868-1465 main
</p>

<p>
	<strong>Our address</strong><br/>
	    3723 Elmwood Ave.<br/>
      Erie, PA 16508<br/>
</p>

</div>