<li>
  <div class="coupon small">
  <%= render :partial => "coupons/coupon_item", :object => coupon %>
  <%#= link_to image_tag('bin.png', :title=>"Remove this coupon"), [current_user, coupon.clipped_coupon], :method => :delete %>
  </div>
</li>