<div style="float: right; width: 40%; margin-left: 2em;">
<p>
	If you prefer to contact us in a more traditional manner, please feel free to do so.  
	Here is our contact information.
</p>

<p>
	<strong>By phone or fax</strong><br/>
			704-246-0900 main<br/>
			794-845-1280 fax
</p>

<p>
	<strong>Our address</strong><br/>
			CarolinaCoupons.com<br/>
			1609 Airport Rd.<br/>
			Monroe, NC 28110
</p>

<%= image_tag('cms_mag.png', 
			:title=>"Carolina Moneysaver magazine - saving you money since 2006",
			:width=>200,
			:style=>"margin-left: 50px")%>

</div>