<h2>Privacy Policy - CarolinaCoupons.com™</h2>

<p>Your privacy is important to us. We work hard to earn and keep your trust, so we adhere to the following principles to protect your privacy.</p>

<ul>
	<li>We do not rent or sell your personally identifiable information to third parties for marketing purposes.</li>
	<li>We will not share your contact information with another user, without your consent.</li>
	<li>Any sensitive information that you provide will be secured with all industry standard protocols and technology.</li>
</ul>

<p>Notice of all changes that materially affect ways in which your personally identifiable data may be used or shared will be posted in updates to our Privacy Policy. If you continue to use the CarolinaCoupons.com service after notice of changes have been sent to you or published on our site, you hereby provide your consent to the changed practices.</p>

<p>Please read this privacy policy to learn more about:</p>

<ul>
	<li>What personally identifiable information of yours is collected by CarolinaCoupons.com</li>
	<li>How the information is used</li>
	<li>With whom the information may be shared</li>
	<li>How you can access and change your Account information</li>
	<li>What security procedures are in place to protect the loss, misuse or alteration of information collected by CarolinaCoupons.com</li>
	<li>How to contact us</li>
</ul>

<h2>Information Collection</h2>
<h3>Registration</h3>

<p>In order to become a CarolinaCoupons.com user, you must first create an account on this web site. To create an account you are required to provide the following contact information: name, email address, country, ZIP/postal code, and choose a password. Once you register with CarolinaCoupons.com and sign in to our services, you are not anonymous to us and we protect your personal information.</p>

<p>We may, additionally, track non-personal information about your visit including the domain name and the name of the Web page from which you entered the site, how much time you spend on each of our pages and the IP address associated with your computer. We use this information to improve the performance and operation of our site.</p>

<p>CarolinaCoupons.com automatically receives and records information on our server logs from your browser, including your IP address, CarolinaCoupons.com cookie information, and the pages you request.</p>

<h3>Cookies & Log Files</h3>

<p>Like most web sites, CarolinaCoupons.com uses cookies and web log files to track site usage. A cookie is a small data file that is stored on your computer that allows CarolinaCoupons.com to recognize you as a user when you return to our site using the same computer and web browser. Unfortunately, if your browser settings do not allow cookies, you may not be able to use all of the features our website. Like the information you enter at registration or in your Profile, cookie and log file data is used to customize your experience on the web site. The cookies do not contain or capture any personal information.</p>

<p>One type of cookie, known as a “persistent” cookie, is set once you’ve logged in to your CarolinaCoupons.com account. The next time you visit the CarolinaCoupons.com web site, the persistent cookie will allow us to recognize you as an existing user so you will not need to log in before using the service. In order to access or change any of your private information, however, you may need to log in securely again with your password even if your computer contains your persistent cookie. Additionally, if you log out of the CarolinaCoupons.com site you will need to re-enter your password the next time you visit in order to log in to your account. Another type of cookie, called a “session” cookie, is used to identify a particular visit to the CarolinaCoupons.com site. Session cookies expire after a short time or when you close your web browser.</p>

<p>Due to the communications standards on the Internet, when you visit the CarolinaCoupons.com web site we automatically receive the URL of the site from which you came and the site to which you are going when you leave CarolinaCoupons.com. We also receive the Internet protocol (IP) address of your computer (or the proxy server you use to access the World Wide Web), your computer operating system and type of web browser you are using, as well as the name of your ISP. This information is used to analyze overall trends to help us improve the CarolinaCoupons.com service. The linkage between your IP address and your personally identifiable information is never shared with third parties without your permission or except when required by law.</p>

<h2>Children</h2>

<p>Protecting the privacy of young children is especially important. The CarolinaCoupons.com website is not designed to attract children under the age of 13 and CarolinaCoupons.com does not knowingly collect personal information from children on our Web site.</p>

<h2>Information Use</h2>

<p>CarolinaCoupons.com is an online service dedicated to helping all types of people more effectively find local shopping information.  CarolinaCoupons.com may utilize this information at its sole discretion in such manner it deems appropriate.</p>

<h2>CarolinaCoupons.com Communications</h2>

<p>CarolinaCoupons.com will communicate with you through email and notices posted on this website. These include a series of welcome emails that help inform new users about various features of the service. Please be aware that you will may also receive certain emails from CarolinaCoupons.com related to the proper functioning of your account, such as major changes or enhancements to the site, or to notify you of scheduled downtime. CarolinaCoupons.com may send you promotional information unless you have opted out of receiving such information. If you wish to opt-out of receiving promotional emails, please refer to “My Profile” or contact CarolinaCoupons.com by clicking on the contact us link located at the bottom of the page.</p>

<h2>Customized Content</h2>

<p>Information you provide at registration or in your Profile section is also used to customize your experience on the web site. For example, when you login to your account we will display your clipped coupons, your coupons about to expire, and so on.</p>

<h2>Information Sharing</h2>

<h3>Sharing Information With Third Parties</h3>

<p>We may use aggregated information concerning how visitors use our Web site and share such information with third parties in order to improve our Web. For example, we may share how many individuals visited our Web site and, on average how long they stayed on each page. Such use and sharing of aggregated information will not reveal any of your personal information to third parties.</p>

<p>CarolinaCoupons.com does not rent, sell, disclose or share personal information about you with other people or nonaffiliated companies except to provide products or services you’ve requested, when we have your permission, or under the following circumstances</p>

<ul>
<li>We respond to subpoenas, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims;</li>
<li>We believe it is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of CarolinaCoupons.com’s terms of use, or as otherwise required by law.</li>
<li>We transfer information about you if CarolinaCoupons.com is acquired by or merged with another company. In this event, CarolinaCoupons.com will notify you before information about you in transferred and becomes subject to a different privacy policy.</li>
</ul>

<p>CarolinaCoupons.com offers a “share this” feature, which allows users to publish portions of their CarolinaCoupons.com selections to the public Internet and third-party sites such as social networks (i.e. Facebook, MySpace, etc.. Sharing such information about CarolinaCoupons.com content to these third-party sites is optional by the user.  If the user shares CarolinaCoupons.com to a social networking or other third-party site but then later decides to “unshare”, delete, unpublish or otherwise remove the shared content from the third-party site, CarolinaCoupons.com does not warrant how third-party search engines will update their cache.</p>

<p>We may provide aggregated data about the usage of our services to third parties for such purposes as we deem, in our sole discretion, to be appropriate. If you would like to be excluded from the aggregated research or products based upon aggregated data about our users’ activities on the site, please email customer service.</p>

<h2>Partnering with Other Search Organizations to Offer Combined Services</h2>

<p>CarolinaCoupons.com may partner with other online services to give you the combined results of both services. Whenever we offer such combined services it will be your choice to make use of the combined services or not. In these cases, your personally identifiable information will only be passed from CarolinaCoupons.com to the partner if you choose to use the combined service.</p>

<h2>Legal Disclaimer</h2>

<p>It is possible that we may need to disclose personal information when required by law. We will disclose such information wherein we have a good-faith belief that it is necessary to comply with a court order, ongoing judicial proceeding, or other legal process served on our company or to exercise our legal rights or defend against legal claims.</p>

<h2>Accessing and Changing Your Account Information</h2>

<p>You can review the personal information you provided us and make any desired changes to the information, or to the settings for your CarolinaCoupons.com account, at any time by logging in to your account on the CarolinaCoupons.com website and editing the information on you’re my Profile page. You can also close your account through the CarolinaCoupons.com website. If you close your CarolinaCoupons.com account, we will remove your name and other personally identifiable information from our publicly viewable data. We may retain certain data contributed by you if it may be necessary to prevent fraud or future abuse, or for legitimate business purposes, such as analysis of aggregated, non-personally-identifiable data, account recovery, or if required by law. All retained data will continue to be subject to the terms of the CarolinaCoupons.com Privacy Policy that you have previously agree to. To request that we close your account and remove your information from the CarolinaCoupons.com service, please send your request to us via our Contact Us page.  Please send your request using an email account that you have registered with CarolinaCoupons.com under your name. You should receive a response to requests sent to us within three business days of our receiving it.</p>

<h2>Security</h2>

<p>In order to secure your personal information, access to your data on CarolinaCoupons.com is password-protected, and sensitive data is protected by SSL encryption when it is exchanged between your web browser and our web site. To protect any data you store on our servers we also regularly audit our system for possible vulnerabilities and attacks and we use a tier-one secured-access data center.</p>

<p>CarolinaCoupons.com continues to evaluate and implement enhancements in security technology and practices, however we can only take steps to help reduce the risks of unauthorized access. CarolinaCoupons.com has taken the following steps in this regard:</p>

<ul>
<li><strong>Secure Socket Layer (SSL)</strong> CarolinaCoupons.com uses SSL (Secure Socket Layer) encryption when transmitting certain kinds of information, such as registration information or payment information. An icon resembling a padlock is displayed on the bottom of most browsers window during SSL transactions that involve credit cards and other forms of payment. Any time CarolinaCoupons.com asks you for a credit card number on CarolinaCoupons.com for payment or for verification purposes, it will be SSL encrypted. The information you provide will be stored securely on our servers. Once you choose to store or enter your credit card number on CarolinaCoupons.com, it will not be displayed back to you in its entirety when you retrieve or edit it in the future. Instead of the entire number, you will only see asterisks and either the first four digits or the last four digits of your number.</li>
<li><strong>Secure Storage</strong> CarolinaCoupons.com maintains reasonable physical, electronic, and procedural safeguards that comply with federal regulations to protect personal information about you.</li>
<li><strong>Vendors and Partners</strong> CarolinaCoupons.com works with vendors and partners to protect the security and privacy of user information.</li>
<li><strong>Employee and Contractor Access to Information</strong> CarolinaCoupons.com limits access to personal information about you to those employees who we reasonably believe need to come into contact with that information to provide products or services to you or in order to do their jobs.</li>
<li><strong>Education and Training for Employees</strong> CarolinaCoupons.com has implemented a company-wide education and training program about security that is required of every CarolinaCoupons.com employee.</li>
</ul>

<p>If CarolinaCoupons.com learns of a security systems breach we may attempt to notify you electronically so that you can take appropriate protective steps. By using this Web site or providing personal information to us you agree that we can communicate with you electronically regarding security, privacy and administrative issues relating to your use of this site. CarolinaCoupons.com may post a notice on our Web site if a security breach occurs. If this happens, you will need a Web browser enabling you to view the CarolinaCoupons.com Web site. CarolinaCoupons.com may also send an e-mail to you at the e-mail address you have provided to us in these circumstances. Depending on where you live, you may have a legal right to receive notice of a security breach in writing. To receive free written notice of a security breach (or to withdraw your consent from receiving an electronic notice) you should notify us via any of the methods available on our Contact Us page.  You will find a link to the Contact Us page located in the footer section of most pages of the site.</p>

<p>If you believe your CarolinaCoupons.com account has been compromised, please report the incident using our contact form. In the event that you believe that your personal safety is at risk or if you believe that you may be the victim of identity theft or other illegal conduct, please contact the appropriate federal, state or local law enforcement agencies directly.</p>

<h2>Changes to this Privacy Policy</h2>

<p>CarolinaCoupons.com may update this privacy policy. In the event there are significant changes in the way we treat your personally identifiable information, we will display a notice on this site. Unless stated otherwise, our current Privacy Policy applies to all information that we have about you and your account.</p>

<p>Our Privacy Policy is regularly reviewed and revised to make sure we continue to serve the best interests of our customers. We reserve the right to update this Privacy Policy to reflect any changes.</p>

<h2>Questions or Comments</h2>

<p>If you have questions or comments about this privacy policy, please use the contact information on our Contact Us page found in our page footer.  From there you will find information on how to submit your question or comment via email form, by telephone or mail.</p>
