<h4 class="regular">About CarolinaCoupons.com</h4>

<div id="details_container">
    <div id="text_container">
      <div id="text_container_top">
        <div id="text_container_inner">
        <%= image_tag('cms_mag.png', :title=>"Carolina Moneysaver magazine - saving you money since 2006", :class=>"right pad_left")%>
        <p>CarolinaCoupons.com is the easiest and most convenient place to find coupons for your favorite local businesses.</p>

                <p>CarolinaCoupons.com is the latest website from the team at <%= link_to "CarolinaMoneysaver.com", "http://carolinamoneysaver.com", :target => "_new" %> that has been bringing money saving values to the Carolinas in print and online since 2006.</p>

                <p>When you go to CarolinaCoupons.com you’ll find…</p>
                
                <ul>
                  <li>Coupons from your favorite local businesses for the goods and services you use every day.</li>
                  <li>Gift certificates for local restaurants, businesses and attractions at up to half off the retail value.</li>
                </ul>

                <p>CarolinaCoupons.com = Local coupons from Local businesses for Local people.</p>



                <p>Business Owners <%= link_to "click here", business_owners_path %> to learn about adding your business to CarolinaCoupons.com</p>
                <div class="clear_fix">&nbsp;</div>   
        </div>
        
      </div>
    </div>
    <div class="clear_fix">&nbsp;</div>    
  
</div>