<h4 class="regular">Contact</h4>

<div id="details_container">
    <div id="text_container">
      <div id="text_container_top">
        <div id="text_container_inner">
        <%= image_tag('cms_mag.png', :title=>"Carolina Moneysaver magazine - saving you money since 2006", :class=>"right pad_left")%>
				<p>We would love to hear from you.</p>
				<p>For your convenience, you may use the form below to let us know the type of issue
					you are telling us about, and provide any necessary details if you are reporting a problem
					with the site.</p>
					
				<form action="contact_submit" method="post" accept-charset="utf-8">
					<label>Name</label>
					
					
					<label>Email address</label>
					
					<label>What type of issue are you contacting us about today?</label>
					
					<label>Additional info or comments</label>

					<p><input type="submit" value="Continue &rarr;"></p>
				</form>

        <div class="clear_fix">&nbsp;</div>   
        </div>
        
      </div>
    </div>
    <div class="clear_fix">&nbsp;</div>    
  
</div>