<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>      
		<title>Carolina Moneysaver</title>
		<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style type="text/css">
		body {
		  background: #7a7c7f url(/images/bg_body.png) repeat-x;
			font-family: Tahoma, Arial, Helvetica, Verdana, sans-serif;
		}
		#wrapper {
			background: white;
			margin: 1em;
		}
		#content {
			background: white url(/images/bg_h1_logo.png) no-repeat 2em 0;

			width: 500px;
			margin: 0 auto;
			padding: 80px 2em 3em;
		}
		#reason {
			margin-top: 50px;
			font-size: small;
		}
	</style>
	</head>
	<body>

		<div id="wrapper">
			<%
				reason = ENV['REASON'] || "maintenance"
				deadline = (ENV['UNTIL']) ? "by #{ENV['UNTIL']}" : "shortly"
				now = Time.now.strftime("%H:%M %Z")
			%>
			<div id="content">
				
				<h2>And the answer is 42...</h2>
				<p>Now you need a bigger computer to figure out the question...</p>
				
				<div id="reason">
				<p>Actually, as of <%= now %> we're currently down for <%=reason%></p>
			  
				<p>Sorry for the inconvenience.  We'll be back <%=deadline%></p>
				
				<p>Please <a href="mailto:support@carolinamoneysaver.com">email us</a> 
					 if you need to get in touch.</p>
				</div>
			</div>
		</div>

	</body>
</html>