<h4 class="regular">Terms of Use</h4>

<div id="details_container">
    <div id="text_container">
      <div id="text_container_top">
        <div id="text_container_inner">

				<div id="policy">
					<%=render :partial => 'terms' %>
				</div>

        <div class="clear_fix">&nbsp;</div>   
        </div>
        
      </div>
    </div>
    <div class="clear_fix">&nbsp;</div>    
  
</div>