<h4 class="regular">Business Owners</h4>

<div id="details_container">
    <div id="text_container">
      <div id="text_container_top">
        <div id="text_container_inner">
        <p>PennSavers.com is the easiest and most cost-effective way to get online coupons to current customers and to new ones.</p>

                <p><strong>PennSavers.com will help your business by…</strong></p>
                
                <ul>
                <li>Expanding your reach</li>
                <li>Increase your exposure online</li>
                <li>Drive new business and repeat business by making it easy for your customers to save money</li>
                </ul>
                
                <p><strong>PennSavers.com is different because…</strong></p>
                <ul>
                <li>It is focused on helping local businesses effectively use online coupons to drive new business and grow repeat business.</li>
                <li>Customers will be able to access your coupons whether at home or on the go.</li>
                <li>You’ll be able to track your ROI </li>
                <li>We’ll provide detailed tracking reports to help you know what offers are working well.  You can use this information to drive more business.</li>
                </ul>

                <p>PennSavers.com is continuing to develop and add new features to help you grow your business.  </p>

                <p><%= link_to "Contact us today", contact_us_path %> to lock in your introductory rate and start driving new business quickly.</p>
                <div class="clear_fix">&nbsp;</div>   
        </div>
        
      </div>
    </div>
    <div class="clear_fix">&nbsp;</div>    
  
</div>